module.exports = {
    consumer_key: 'ACTUAL_TWITTER_CONSUMER_KEY_GOES_HERE'
  , consumer_secret: 'ACTUAL_TWITTER_CONSUMER_SECRET_GOES_HERE'
  , access_token: 'ACTUAL_TWITTER_ACCESS_TOKEN_GOES_HERE'
  , access_token_secret: 'ACTUAL_TWITTER_ACCESS_TOKEN_SECRET_GOES_HERE'
}

